<header>
    <div class="header-title">Taranjeet Singh / N01539902</div>
    <nav class="navbar">
        <a href="/">All Data</a>
        <a href="/addData">Add Invoice</a>
        <a href="/UpdateData">Update Invoice</a>
        <a href="/DeleteData">Delete Invoice</a>
    </nav>
</header>
