<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}  <!-- Including the header partial -->
    
    <section id="content">
      {{{body}}}
    </section>
    
    {{> footer}}  <!-- Including the footer partial -->
  </body>
</html>
