<h1>Search for Car by Invoice Number</h1>
    <form action="/find" method="GET">
        <label for="InvoiceNo">Invoice Number:</label>
        <input type="text" id="InvoiceNo" name="InvoiceNo" required><br>
        <button type="submit">Search</button>
    </form>
<br><br>